<!DOCTYPE html>
<html lang="en">

<footer class="bg-light">
    <div class="footer-container">
        <div class="left-text">
        </div>
        <!-- change the website tab image-->
        <div class="musicsymbolv2-container">
            <a class="navbar-brand" href="http://localhost:4200">
                <img src="../../../assets/musicsymbolv2.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <div class="right-text">
            Music Transfer :)
        </div>
    </div>
</footer>